.btn-cooker{
    display: block !important;
    margin: 0 auto;
    margin-top: 5px;
}
.btn-user{
    display: block !important;
    margin: 0 auto;
    margin-top: 5px;
}
.input-margin{
    margin-bottom: 10px;
}
