{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block body %}
     ============================================= -->
    <div class="breadcrumb-area shadow text-center dark bg-fixed text-light" style="background-image: url({{ photos.example_page.url }});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
            <h1>{{ text.addfood_page }}</h1>

                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">


                {% for field in form %}
                    {% if field.name == "category" %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field |add_class:"form-control" }}
                    {% elif field.name == "delivery_type" %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field |add_class:"form-control" }}
                    {% else %}
                        {% render_field field class="form-control" placeholder=field.label %}
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>

            </div>
        </form>

    </div>
{% endblock %}